<h1>Your Week Schedule</h1>
  <div class="schedule-container">
    <div class="days-row">
      <div class="day" id="sunday">Sunday</div>
      <div class="day" id="monnday">Monday</div>
      <div class="day" id="tueday">Tueday</div>
      <div class="day" id="wednesday">Wednesday</div>
    </div>
    <div class="time-slot-row">
      <div class="empty"></div>
      <div class="empty"></div>
      <div class="full">Task</div>
      <div class="empty"></div>
    </div>
    <div class="time-slot-row">
      <div class="empty"></div>
      <div class="full">Task</div>
      <div class="full">Task</div>
      <div class="empty"></div>
    </div>
    <div class="time-slot-row">
      <div class="full">Task</div>
      <div class="empty"></div>
      <div class="full">Task</div>
      <div class="full">Task</div>
    </div>
    <div class="time-slot-row">
      <div class="empty"></div>
      <div class="full">Task</div>
      <div class="empty"></div>
      <div class="empty"></div>
    </div>
  </div>